@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --color-primary: #f5f5f7;   
    --color-secondary: #434344;
    --color-accent: #fff;
    --color-heading: #1d1d1f;
    --color-background: #000;
    --color-list: #424245;
    --color-footer: #6e6e73;
    --color-links: #0066cc;
    --nav-height: 48px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-align: center;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* heros container for 3 hero sections */
.heros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* large container sections */
.container {
    width: 100vw;
    height: 60rem;
    display: flex;
    align-items: start;
    justify-content: center;
}

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--color-primary);
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-primary);
    margin-top: 0;
}

.content {
    margin-top: 5rem; 
}

.links a {
    color: var(--color-links);
    font-size: 1.6rem;
    background: none;
}

.links a::after {
    content: " >";
}

.links a:hover {
    text-decoration: underline;
}

.content .links a:nth-child(2) {
    margin-left: 2rem;
}

@media screen and (min-width: 735px){
    .container {
        height: 60rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .content {
        margin-top: 3rem; 
    }

    .links a {
        font-size: 2rem;
    }
}

/* hero-1 container */
.hero-1 {
    background: url(../Images/hero\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-background);
}

@media screen and (min-width: 735px){
    .hero-1 {
        background: url(../Images/hero\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--color-background);
    }
}

/* hero-2 container */
.hero-2 {
    background: url(../Images/iphones\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fafafa;
}

.hero-2 h1, .hero-2 h2 {
    color: var(--color-heading);
}

.hero-2 .content h2:first-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 735px) {
    .hero-2 {
        background: url(../Images/iphones\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fafafa;
    }

    .hero-2 .content h2:nth-last-of-type(1) {
        margin-bottom: 3rem;
    }
}

/* hero-3 container */
.hero-3 {
    background: url(../Images/watch\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-background);
}

.hero-3 .content img {
    scale: .6;
}

@media screen and (min-width: 735px) {
    .hero-3 {
        background: url(../Images/wathc\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--color-background);
    }

    .hero-3 .content img {
        scale: .7;
    }

    .hero-3 .content h2 {
        margin-bottom: 2rem;
    }
}

/* small container grid section */
.grid {
    display: grid;
    margin-top: 1rem;
}

.container-small {
    width: 100vw;
    height: 60rem;
    display: flex;
    align-items: start;
    justify-content: center;
}

/* grid space-1 */
.space-1 {
    background: url(../Images/wwdc\ mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--color-background);
}

.space-1 .content {
    margin-top: 35rem;
}