@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --color-primary: #f5f5f7;   
    --color-secondary: #434344;
    --color-accent: #fff;
    --color-heading: #1d1d1f;
    --color-background: #000;
    --color-list: #424245;
    --color-footer: #6e6e73;
    --color-links: #2897FF;
    --nav-height: 48px;
    --div-bg-white: #fafafa;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-align: center;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* heros container for 3 hero sections */
.heros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* large container sections */
.container {
    width: 100vw;
    height: 60rem;
    display: flex;
    align-items: start;
    justify-content: center;
}

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--color-primary);
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-primary);
    margin-top: 0;
}

.content {
    margin-top: 5rem; 
}

a {
    color: var(--color-links);
    font-size: 1.8rem;
    background: none;
}

a::after {
    content: " >";
}

a:hover {
    text-decoration: underline;
}

.content a:nth-child(2) {
    margin-left: 2rem;
}

@media screen and (min-width: 735px){

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .content {
        margin-top: 3rem; 
    }

    a {
        font-size: 2rem;
    }
}

/* hero-1 container */
.hero-1 {
    background: url(../Images/hero\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-background);
}

@media screen and (min-width: 735px){
    .hero-1 {
        background: url(../Images/hero\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--color-background);
    }
}

/* hero-2 container */
.hero-2 {
    background: url(../Images/iphones\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--div-bg-white);
}

.hero-2 h1, .hero-2 h2 {
    color: var(--color-heading);
}

.hero-2 .content h2:first-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 735px) {
    .hero-2 {
        background: url(../Images/iphones\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fafafa;
    }

    .hero-2 .content h2:nth-last-of-type(1) {
        margin-bottom: 3rem;
    }
}

/* hero-3 container */
.hero-3 {
    background: url(../Images/watch\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-background);
}

.hero-3 .content img {
    scale: .6;
}

@media screen and (min-width: 735px) {
    .hero-3 {
        background: url(../Images/wathc\ desktop.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--color-background);
    }

    .hero-3 .content img {
        scale: .7;
    }

    .hero-3 .content h2 {
        margin-bottom: 2rem;
    }
}

/* small container grid section */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 1rem;
    gap: 1rem;
}

.grid .container {
    width: auto;
}

@media screen and (min-width: 735px) {
    .grid {
        grid-template: repeat(3, 60rem) / 1fr 1fr;
        margin: 1rem;
    }
}

/* grid space-1 */
.space-1 {
    background: url(../Images/wwdc\ mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--color-background);
}

.space-1 .content {
    margin-top: 35rem;
}

.space-1 .content > h2 {
    margin-bottom: 0;
}

.space-1 .content .last {
    margin-bottom: 1.6rem;
}

/* grid space-2 */
.space-2 {
    background: url(../Images/ipad\ mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--div-bg-white);
}

.space-2 h1, .space-2 h2 {
    color: var(--color-heading);
}

/* grid space-3 */
.space-3 {
    background: url(../Images/mackbook\ desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-background);
}

.space-3 .content > h2 {
    margin-bottom: 0;
}

.space-3 .content .last {
    margin-bottom: 1.6rem;
}

/* grid space-4 */
.space-4 {
    background: url(../Images/Homepod\ desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: var(--color-background);
}

/* grid space-5 */
.space-5 {
    background: url(../Images/Music\ mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.space-5 .content > h2 {
    margin-bottom: 0;
}

.space-5 .content .last {
    margin-bottom: 1.6rem;
}

.space-5 a {
    color: var(--color-primary);
}

/* grid space-6 */
.space-6 {
    background: url(../Images/card\ mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--div-bg-white);
}

.space-6 h1, .space-6 h2 {
    color: var(--color-heading);
}

.space-6 .content > h2 {
    margin-bottom: 0;
}

.space-6 .content .last {
    margin-bottom: 1.6rem;
}