:root {
    --color-primary: #f5f5f7;   
    --color-secondary: #434344;
    --color-accent: #fff;
    --color-heading: #1d1d1f;
    --color-list: #424245;
    --color-footer: #6e6e73;
    --color-links: #0066cc;
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}