<div class="grid">
  <!-- space-1 content for mobile screens -->
  <div class="container space-1 mobile-content">
    <div class="content">
      <h1>WWDC23</h1>
      <h2>Apple Worldwide Developers</h2>
      <h2>Conference. Join us online</h2>
      <h2 class="last">June 5-9.</h2>
      <div>
        <a href="#">Learn more</a>
      </div>
    </div>
  </div>
  <!-- space-1 content for desktop screens -->
  <div class="container space-1 desktop-content">
    <div class="content">
      <h1>AirPods Pro</h1>
      <h2>Up to 2x more</h2>
      <h2 class="last">Active Noise Cancellation</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <div class="container space-2">
    <div class="content">
      <h1>iPad</h1>
      <h2>Lovable. Drawable. Magical</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <div class="container space-3">
    <div class="content">
      <h1>MacBook Pro</h1>
      <h2>Supercharged by</h2>
      <h2 class="last">M2 Pro and M2 Max.</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <div class="container space-4">
    <div class="content">
      <h1>HomePod</h1>
      <h2>Profound Sound.</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <!-- space-5 content for mobile screens -->
  <div class="container space-5 mobile-content">
    <div class="content">
      <h1>Music Classical</h1>
      <h2>Introducing the app</h2>
      <h2 class="last">designed for classical.</h2>
      <div>
        <a href="#">Get the app</a>
      </div>
    </div>
  </div>
  <!-- space-5 content for desktop screens -->
  <div class="container space-5 desktop-content">
    <div class="content">
      <h1>Fitness+</h1>
      <h2>Welcome to the year of you.</h2>
      <h2 class="last">Now all you need is iPhone</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Try it free</a>
      </div>
    </div>
  </div>
  <div class="container space-6">
    <div class="content">
      <h1>Card</h1>
      <h2>Get up to 3% Daily Cash back</h2>
      <h2 class="last">with every purchase.</h2>
      <div>
        <a href="#">Get the app</a>
        <a href="#">Apply now</a>
      </div>
    </div>
  </div>
</div>
