<div class="container home">
  <div class="content">
    <h1>iPhone 14 Pro</h1>
    <h2>Pro. Beyond.</h2>
    <div class="links">
      <a href="#">Learn more</a>
      <a href="#">Buy</a>
    </div>
  </div>
</div>

<!-- finished hero containers starts here -->
<div class="heros">
  <div class="container hero-1">
    <div class="content">
      <h1>iPhone 14 Pro</h1>
      <h2>Pro. Beyond.</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <div class="container hero-2">
    <div class="content">
      <h1>iPhone 14</h1>
      <h2>Two great sizes.</h2>
      <h2>Now with a splash of yellow.</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
  <div class="container hero-3">
    <div class="content">
      <img src="Images/watchLogo.png" alt="" />
      <h2>A healthy leap ahead.</h2>
      <div>
        <a href="#">Learn more</a>
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
</div>
